<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IDevice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <userSettings>
    <IDevice.Properties.Settings>
      <setting name="Plugins" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>IDevice.Plugins</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Blacklist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </IDevice.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

    <targets>
      <target name="console" xsi:type="ColoredConsole"
       layout="${longdate} [${level}] => ${message} [AT] ${stacktrace:topFrames=2} ${exception:format=message,stacktrace:separator=*}" />
      <target name="file" xsi:type="File" fileName="${basedir}/log.txt"
       layout="${longdate} [${level}] => ${message} [AT] ${stacktrace:topFrames=2} ${exception:format=message,stacktrace:separator=*}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,file" />
    </rules>

  </nlog>
</configuration>